<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Quote</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
    </header>
    <section class="container">
        <article class="card1">
            <p >&#8220; <span id="quoteText"><%= quote[0].text %></span> &#8221;<br>
            <sub id="quoteAtt">-<%= quote[0].attribution %></sub>
            </p>
            <p class="cardText">Good morning/afternoon/evening. I'm <%= name %> and this is my talk 
                on <%= subject %>. Merriam-Webster's defines <%= subject %> as... 
            </p>
        </article>
        <article class="card2">
            <p class="cardText merWText"id="quoteDef">  
                <img src="/imgs/MWLogo.png" alt="merriam-webster's logo" class="mwLogo"><br>
            </p>
        </article>
    </section>
    <script>
        const dictionaryWord = async (arg) => {
            const response = await fetch(`https://www.dictionaryapi.com/api/v3/references/collegiate/json/${arg}?key=${'<%= apiKey %>'}`);
            const dicData = await response.json();
            const word = dicData[0];
            const wordDef = word.shortdef[0];
            let div = document.getElementById('quoteDef');
            div.innerHTML += `"${wordDef}"`;
        } 
    
        dictionaryWord('<%= subject %>');
    </script>
</body>
<footer>
    <p>photo by <a href="https://unsplash.com/@lighttouchedphotography">Kevin Schmid</a> on <a href="https://unsplash.com/">Unsplash</a></p>
</footer>
</html> 

